{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}
        注册账号
        {% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="username">用户名</label>
        <input name="username" id="username" required>
        <label for="password">密码</label>
        <input type="password" name="password" id="password" required>
        <label for="sex">性别</label>
        <select name="sex" id="sex" required>
            <option>先生</option>
            <option>女士</option>
        </select>
        <input type="submit" value="注册账号">
    </form>
{% endblock %}