<!DOCTYPE html>
<head>
<title>{% block title %}{% endblock %} - BooksOnline</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>
<body>
<nav>
    <h1>BooksOnline</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">注册账号</a></li>
            <li><a href="{{ url_for('auth.login') }}">登录</a></li>
        {% endif %}
    </ul>
</nav>
<div class="content">
    <header>
        {% block header %}
        {% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>