<!DOCTYPE html>
<head>
<title>{% block title %}{% endblock %} - BooksOnline</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('explore.index') }}">BooksOnline</a>
    <span class="navbar-text">
        欢迎，{{ g.user['username'] }} {{ g.user['sex'] }}
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if g.user %}
            <li><a class="nav-link" href="{{ url_for('check.cart') }}">购物车</a></li>
            <li><a class ="nav-link" href="{{ url_for('auth.logout') }}">退出登录</a></li>
            {% else %}
            <li><a class ="nav-link" href="{{ url_for('auth.register') }}">注册账号</a></li>
            <li><a class ="nav-link" href="{{ url_for('auth.login') }}">登录</a></li>
            {% endif %}
        </ul>
        
    </div>
    <button class ="btn btn-outline-info" id="about" data-toggle="modal" data-target="#exampleModalScrollable">
        关于我们
    </button>
    </nav>

<div class="container">
    <div class="row m-2">
        {% block header %}
        {% endblock %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</div>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">程序设计实践 2020 春作业</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        作者：10180038 田昊宇<br>
        <a href="https://github.com/thyecust/BooksOnlinebook">项目 GitHub</a>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
    </div>
    </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
{% block script %}
{% endblock %}
</body>