{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Books{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('explore.create') }}">添加 Books</a>
  {% endif %}
{% endblock %}

{% block content %}
    {% for book in books %}
        <article class="book">
        <header>
            <div>
            <h3>{{ book['title'] }}</h1>
            <div class="about">by {{ book['username'] }} on {{ book['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            {% if g.user['id'] == book['owner'] %}
                <a class="action" href="{{ url_for('explore.update', id=book['id']) }}">编辑</a>
            {% else %}
                <a class="action" href="{{ url_for('explore.description', id=book['id']) }}">查看详情</a>
            {% endif %}
        </header>
        <p class="description">{{ book['description'] }}</p>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
    <a href="/?n={{ n-5 }}">上一页</a>
    <a href="/?n={{ n+5 }}">下一页</a>
{% endblock %}